{{!-- <div class="d-inline-block w-50 h-100">
    <p>User recently accessing</p>
    <table class="table">
    <tbody>
        <tr>
        <td>img</td>
        <td>Nguyen Van A</td>
        <td>06/10/2023</td>
        </tr>
        <tr>
        <td>img</td>
        <td>Nguyen Van A</td>
        <td>04/10/2023</td>
        </tr>
        <tr>
        <td>img</td>
        <td>Nguyen Van A</td>
        <td>24/09/2023</td>
        </tr>
    </tbody>
    </table>
</div>
<div class="d-inline-block w-50 h-100">
    <div class="" style="height: 30%;">

    </div>
</div> --}}
<div class="row h-100">
    <div class="col-sm-6 px-5 py-5">
        <div class="my-3 d-flex">
            <div class="d-inline-block w-50">
                <p class="m-0 fs-5">Users recently accessing </p>
            </div>
            <div class="d-inline-block w-50">
                <div style="text-align: right;">
                    <button type="button" class="btn btn-light btn-outline-dark fs-6">View All ></button>
                </div>
            </div>
        </div>
        <ul class="list-group">
        <li class="list-group-item">
            <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                <img src="" alt="Avatar" onerror="this.src='/img/img_avatar_male.png';" style="border-radius: 50%; max-height:35px; margin-right: 20px;">
                <div class="left-side" style="display: flex; flex-direction: column;">
                    <div>Nguyen Van A</div>
                    <div>ID: abc</div>
                </div>
                <div class="right-side" style="text-align: right; margin-left: auto;">
                    <div>18/11/2023</div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            {{!-- <img src="" alt="Avatar" onerror="this.src='/img/img_avatar_male.png';" style="border-radius: 50%; max-height:35px;"> --}}
            <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                <img src="" alt="Avatar" onerror="this.src='/img/img_avatar_male.png';" style="border-radius: 50%; max-height:35px; margin-right: 20px;">
                <div class="left-side" style="display: flex; flex-direction: column;">
                    <div>Nguyen Van A</div>
                    <div>ID: abc</div>
                </div>
                <div class="right-side" style="text-align: right; margin-left: auto;">
                    <div>18/11/2023</div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            {{!-- <img src="" alt="Avatar" onerror="this.src='/img/img_avatar_male.png';" style="border-radius: 50%; max-height:35px;"> --}}
            <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                <img src="" alt="Avatar" onerror="this.src='/img/img_avatar_male.png';" style="border-radius: 50%; max-height:35px; margin-right: 20px;">
                <div class="left-side" style="display: flex; flex-direction: column;">
                    <div>Nguyen Van A</div>
                    <div>ID: abc</div>
                </div>
                <div class="right-side" style="text-align: right; margin-left: auto;">
                    <div>18/11/2023</div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            {{!-- <img src="" alt="Avatar" onerror="this.src='/img/img_avatar_male.png';" style="border-radius: 50%; max-height:35px;"> --}}
            <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                <img src="" alt="Avatar" onerror="this.src='/img/img_avatar_male.png';" style="border-radius: 50%; max-height:35px; margin-right: 20px;">
                <div class="left-side" style="display: flex; flex-direction: column;">
                    <div>Nguyen Van A</div>
                    <div>ID: abc</div>
                </div>
                <div class="right-side" style="text-align: right; margin-left: auto;">
                    <div>18/11/2023</div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            {{!-- <img src="" alt="Avatar" onerror="this.src='/img/img_avatar_male.png';" style="border-radius: 50%; max-height:35px;"> --}}
            <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                <img src="" alt="Avatar" onerror="this.src='/img/img_avatar_male.png';" style="border-radius: 50%; max-height:35px; margin-right: 20px;">
                <div class="left-side" style="display: flex; flex-direction: column;">
                    <div>Nguyen Van A</div>
                    <div>ID: abc</div>
                </div>
                <div class="right-side" style="text-align: right; margin-left: auto;">
                    <div>18/11/2023</div>
                </div>
            </div>
        </li>
        </ul>

    </div>
    <div class="col-sm-6 px-5 d-flex flex-column justify-content-center align-items-center">
        <div class="w-75 py-4" style="
            height: 250px;
            background-color: #E6E0E9; 
            border-radius:5px; 
            box-shadow: 0px 1.2080078125px 3.6240234375px 0px #0000004D;
        ">
            <div class="px-2" style="
                width: fit-content;
                background-color: #E6E0E9; 
                border-radius:5px; 
                box-shadow: 0px 1.2080078125px 3.6240234375px 0px #0000004D;
                margin: auto;
            ">
                <p class="fs-5">Welcome back, Nguyen Van A</p>
            </div>
            <div>
                <p class="fs-4 text-center" style="color: #808080">
                    <img src="" alt="Avatar" onerror="this.src='/img/img_avatar_male.png';" style="border-radius: 50%; max-height:120px; vertical-align: middle">
                    Admin ID: 001
                </p>
            </div>
        </div>
        {{!-- <h1>Lorem Ipsum</h1>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> --}}
    </div>
</div>