<link rel="stylesheet" href="/css/passinfo.css">
<div class="container">
    <div class="passinfo-title">
        Password Detail
    </div>
    <div class="body">
        <div class="func-container">
            <div class="detail-container">
                <label for="detail">Mật khẩu chi tiết</label>
                <input type="text" name="" id="detail">

                <label for="create-date">Ngày tạo</label>
                <input type="text" name="" id="create-date">

                <label for="expiration-date">Ngày hết hạn</label>
                <input type="text" name="" id="expiration-date">

                <label for="create-time">Thời gian tạo</label>
                <input type="text" name="" id="create-time">

                <label for="expiration-time">Thời gian hết hạn</label>
                <input type="text" name="" id="expiration-time">

                <label for="login-apps">Danh sách ứng dụng đăng nhập</label>
                <select name="" id="login-apps"></select>
                
                
            </div>
            <div class="btn-container">
                <button class="edit-btn">Edit</button>
                <button class="analyse-btn">Analyse</button>
            </div>
        </div>
        <div class="image">
            <img src="/img/detail_img.png" alt="Password Detail">
        </div>
    </div>

</div>