<link rel="stylesheet" href="/css/passman.css">
<div class="container">
    <div class="passman-title">
        Password Manager
    </div>
    <div class="tools">
        <div class="search-bar">
            <input type="text" name="search" id="search-text" placeholder="Search">
            <img src="/img/search.png" alt="search icon">
        </div>
        <div class="button-container">
            <button class="export-btn">EXPORT</button>
            <button class="create-btn">CREATE</button>
        </div>
    </div>
    <div class="table-container">
        <table class="password-table">
            <thead>
                <tr>
                    <th style="width: 5%;">STT</th>
                    <th style="width: 20%;">Mật khẩu</th>
                    <th style="width: 20%;">Ngày tạo</th>
                    <th style="width: 20%;">Thời gian</th>
                    <th style="width: 5%;">Active</th>
                    <th style="width: 15%;">Action</th>
                    <th style="width: 15%;">Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>hallo</td>
                    <td>20/11/2003</td>
                    <td>07:00:00</td>
                    <td> <input type="checkbox"></td>
                    <td> 
                        <button class="edit-btn"></button>
                        <button class="delete-btn"></button>
                    </td>
                    <td><button>Detail</button></td>
                </tr>
                                <tr>
                    <td>1</td>
                    <td>hallo</td>
                    <td>20/11/2003</td>
                    <td>07:00:00</td>
                    <td> <input type="checkbox"></td>
                    <td> 
                        <button class="edit-btn"></button>
                        <button class="delete-btn"></button>
                    </td>
                    <td><button>Detail</button></td>
                </tr>
                                <tr>
                    <td>1</td>
                    <td>hallo</td>
                    <td>20/11/2003</td>
                    <td>07:00:00</td>
                    <td> <input type="checkbox"></td>
                    <td>
                        <button class="edit-btn"></button>
                        <button class="delete-btn"></button>    
                     </td>
                    <td><button>Detail</button></td>
                </tr>
                                <tr>
                    <td>1</td>
                    <td>hallo</td>
                    <td>20/11/2003</td>
                    <td>07:00:00</td>
                    <td> <input type="checkbox"></td>
                    <td> 
                        <button class="edit-btn"></button>
                        <button class="delete-btn"></button>
                    </td>
                    <td><button>Detail</button></td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="select-container">
        <div class="select-bar">
            <button class="pre-btn"> &lt; </button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button class="next-btn"> &gt;</button>
        </div>
    </div>
</div>