.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    padding-inline: 50px;
}

.passgen-title{
    width: 456px;
    height: 60px;
    text-align: left;
    color: black;
    font-size: 38px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word;
}

.form-gen{
    background-color: aliceblue;
    border-radius: 10px;
    
}

.input-style{
    border-color: #0D99FFB2;
    border-radius: 5px;
}

.result-gen{
    background-color: aliceblue;
    border-radius: 10px;
    /* transition: 1s ; */
}